*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Roboto', sans-serif;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
/*---------------------*/
.container__1440 {
    max-width: 1440px;
    margin: 0 auto;
}
.container__1140 {
    max-width: 1140px;
    margin: 0 auto;
}
.header__left {
    display: flex;
    gap: 35px;
    align-items: center;
}
.header__header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.header__menu ul {
    display: flex;
    gap: 40px;
}
.header__menu a {
    color: rgb(21, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.header__menu a:hover {
    color: rgb(220, 120, 11);
}
.header__booking {
    width: 155px;
    height: 46px;
    border-radius: 5px;
    background: rgb(220, 120, 11);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
.title__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}
.title__text {
    margin-bottom: 42px;
    max-width: 555px;
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 48.83px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0%;
    text-align: left;
}
.title__subtitle {
    margin-bottom: 50px;
    max-width: 555px;
    color: rgb(21, 12, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.title__buttons button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    width: 158px;
    height: 60px;
    border-radius: 5px;
}
.title__order {
    color: rgb(255, 255, 255);
    background: rgb(220, 120, 11);
}
.title__details {
    color: rgb(220, 120, 11);
    background: white;
    border: 1px solid rgba(255, 180, 99, 0.5);
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 115px;
}
.features {
    margin-bottom: 109px;
}
.features__items {
    display: flex;
    justify-content: space-between;
}
.features__container {
    max-width: 1080px;
    margin: 0 auto;
}
.features__items div {
    max-width: 300px;
}
.features__subtitle {
    text-align: center;
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 20%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.features__title {
    text-align: center;
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-bottom: 44px;
}
.features__items img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 33px;
}
.features__items h3 {
    text-align: center;
    margin-bottom: 15px;
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}
.features__items p {
    text-align: center;
    color: rgb(21, 12, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.about__subtitle {
    margin-bottom: 10px;
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 20%;
    text-align: left;
    text-transform: uppercase;
}
.about__title {
    margin-bottom: 30px;
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.63px;
    letter-spacing: 0%;
    text-align: left;
}
.about__text {
    margin-bottom: 30px;
    color: rgb(21, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 115px;
}
.about__info {
    max-width: 487px;
}
.about__button {
    width: 142px;
    height: 42px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 5px;
    background: rgb(220, 120, 11);  
}
.menu {
    margin-bottom: 120px;
}
.menu__subtitle {
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 20%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.menu__title {
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
}
.menu__text {
    color: rgb(21, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 748px;
}
.menu__food > div {
    max-width: 360px;
    width: 100%;
    padding-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 75px 10px 10px 10px;
    background: rgb(255, 255, 255);
}
.menu__food {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}
.menu__food > div > * {
    max-width: 310px;
    margin: 0 auto;
}
.menu__food img {
    display: flex;
    max-width: 360px;
    margin-bottom: 21px;
}
.menu__food > div div:first-of-type{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.menu__food > div > p  {
    margin-bottom: 20px;
    color: rgb(21, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.menu__foodname h3, .menu__foodname p {
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}
.menu__food > div button {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(220, 120, 11);
    width: 36px;
    height: 34px;
}
.menu__learn {
    display: flex;
    margin: 0 auto;
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 197, 158, 0.718);
    border-radius: 5px;
    background: white;
    width: 142px;
    height: 42px;
}
.take {
    padding: 70px 0px;
    position: relative;
    margin-bottom: 147px;
}
.take__containercolor {
    background: rgba(251, 241, 231, 0.4);
    padding: 114px 0px 129px 0px ;
}
.take__containertext {
    max-width: 950px;
    margin: 0 auto;
}
.take__containertext > * {
    max-width: 555px;
}
.take__subtitle {
    margin-bottom: 5px;
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 20%;
    text-align: left;
    text-transform: uppercase;
}
.take__title {
    margin-bottom: 29px;
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.63px;
    letter-spacing: 0%;
    text-align: left;
}
.take__text {
    margin-bottom: 39px;
    color: rgb(21, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.take__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}
.take__buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 163px;
    height: 48px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    justify-content: center;
}
.take__apple {
    background: rgb(21, 12, 1);
    color: rgb(255, 255, 255);
}
.take__google {
    border: 1.5px solid rgba(104, 101, 97, 0.1);
    color: rgb(21, 12, 1);
}
.take__phonephoto {
    position: absolute;
    right: 245px;
    top: 0;
}
.testimonial {
    margin-bottom: 120px;
}
.testimonial__subtitle {
    margin-bottom: 12px;
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 20%;
    text-align: center;
    text-transform: uppercase;
}
.testimonial__title {
    margin-bottom: 12px;
    color: rgb(0, 0, 0);
    font-family: 'Philosopher', sans-serif;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.testimonial__text {
    margin: 0 auto;
    margin-bottom: 17px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 750px;
}
.testimonial__profil {
    margin-bottom: 8px;
    margin: 0 auto;
    display: flex;
}
.testimonial__profiltext {
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 506px;
}
.testimonial__bio {
    margin-bottom: 6px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.testimonial__subbio {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.container__contact {
    padding: 115px 0px 117px 0px;
    background: rgba(220, 120, 11, 0.1);
}
.contact {
    max-width: 750px;
    margin: 0 auto;
}
.contact__input {
    width: 594px;
    height: 75px;
    border-radius: 10px;
    align-items: center;
    padding-left: 32px;
}
.contact__send {
    border-radius: 10px;
    background: rgb(220, 120, 11);
    width: 150px;
    height: 75px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 40.6px;
    letter-spacing: 0%;
    text-align: center;
}
.contact__subtitle {
    color: rgb(220, 120, 11);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 20%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contact__title {
    color: rgb(21, 12, 1);
    font-family: 'Philosopher', sans-serif;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.6px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 46px;
}
.contact__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40.6px;
    letter-spacing: 0%;
    text-align: left;
}
.footer {
    padding: 137px 0px 104px 0px;
    background: rgb(37, 37, 37);
}
.footer__logo {
    width: 60px;
    height: 60px;
    display: flex;
    margin-bottom: 8px;
}
.footer__menu ul {
    display: flex;
    justify-content: space-between;
}
.footer__menu li:first-child {
    gap: 17px;
}
.footer__menu li {
    display: flex;
    flex-direction: column;
}
.footer__menu li:not(li:first-child) {
    gap: 20px;
}
.footer__menu a:not(.footer__logo) {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.footer__titles {
    color: rgb(255, 255, 255);
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 6px;
}
.footer__social {
    display: flex;
    gap: 10px;
}
